@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Etelka';
  src: url('/fonts/Etelka-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Etelka';
  src: url('/fonts/Etelka-Text.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Etelka';
  src: url('/fonts/Etelka-TextItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Etelka';
  src: url('/fonts/Etelka-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Etelka';
  src: url('/fonts/Etelka-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Etelka';
  src: url('/fonts/Etelka-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}
